name: Branch (CI)

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'

env:
  SENDGRID_TOKEN: ${{ secrets.SENDGRID_TOKEN }}
  CLOUDFLARE_ZONEID: ${{ secrets.CLOUDFLARE_ZONEID }}
  CLOUDFLARE_ACCOUNTID: ${{ secrets.CLOUDFLARE_ACCOUNTID }}
  CLOUDFLARE_TOKEN: ${{ secrets.CLOUDFLARE_TOKEN }}

jobs:
  test:
    name: Node.js v16
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: 16

    - name: (env) pnpm
      run: curl -L https://pnpm.js.org/pnpm.js | node - add --global pnpm

    - name: (env) cache
      uses: actions/cache@v2
      with:
        path: ~/.pnpm-store
        key: ${{ runner.os }}-node14-${{ hashFiles('**/package.json') }}
        restore-keys: ${{ runner.os }}-node16-

    - name: Install
      run: pnpm install

    # - name: Run Tests
    #   run: pnpm test

    - name: Check Types
      run: pnpm run types

    - name: (worker) Compiles
      run: pnpm run build

    # todo: temporary - needs "worker" dir check
    - name: (worker) Deploy
      if: ${{ github.ref == 'refs/heads/main' }}
      run: pnpm run deploy
